USE [master]
GO
/****** Object:  Database [MovaStok]    Script Date: 13.04.2020 20:23:25 ******/
CREATE DATABASE [MovaStok]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovaStok', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MovaStok.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovaStok_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MovaStok_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovaStok].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovaStok]
GO
/****** Object:  User [as]    Script Date: 13.04.2020 20:23:26 ******/
CREATE USER [as] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[TBLKATAGORILER]    Script Date: 13.04.2020 20:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKATAGORILER](
	[KATAGORIID] [smallint] IDENTITY(1,1) NOT NULL,
	[KATAGORIAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLKATAGORILER] PRIMARY KEY CLUSTERED 
(
	[KATAGORIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLMUSTERILER]    Script Date: 13.04.2020 20:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLMUSTERILER](
	[MUSTERIID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIAD] [varchar](50) NULL,
	[MUSTERISOYAD] [varchar](50) NULL,
	[MUSTERISIFRE] [varchar](50) NULL,
	[TC] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBLMUSTERILER] PRIMARY KEY CLUSTERED 
(
	[MUSTERIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLSATISLAR]    Script Date: 13.04.2020 20:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLSATISLAR](
	[SATISID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[MUSTERI] [int] NULL,
	[ADET] [tinyint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBLSATISLAR] PRIMARY KEY CLUSTERED 
(
	[SATISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLURUNLER]    Script Date: 13.04.2020 20:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLURUNLER](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](50) NULL,
	[URUNKATAGORI] [smallint] NULL,
	[FİYAT] [decimal](18, 2) NULL,
	[MARKA] [varchar](50) NULL,
	[STOK] [tinyint] NULL,
 CONSTRAINT [PK_TBLURUNLER] PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLKATAGORILER] ON 

INSERT [dbo].[TBLKATAGORILER] ([KATAGORIID], [KATAGORIAD]) VALUES (1, N'Deterjan')
INSERT [dbo].[TBLKATAGORILER] ([KATAGORIID], [KATAGORIAD]) VALUES (2, N'DezenfekteSabun')
INSERT [dbo].[TBLKATAGORILER] ([KATAGORIID], [KATAGORIAD]) VALUES (3, N'DezenfekteSprey')
SET IDENTITY_INSERT [dbo].[TBLKATAGORILER] OFF
SET IDENTITY_INSERT [dbo].[TBLMUSTERILER] ON 

INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD], [MUSTERISIFRE], [TC]) VALUES (4, N'Mehmet', N'Kara', N'12345a', N'6549874')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD], [MUSTERISIFRE], [TC]) VALUES (5, N'admin', N'aka', N'1234567', N'3546846')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD], [MUSTERISIFRE], [TC]) VALUES (6, N'emir', N'kara', N'12345678', N'6548946')
SET IDENTITY_INSERT [dbo].[TBLMUSTERILER] OFF
SET IDENTITY_INSERT [dbo].[TBLSATISLAR] ON 

INSERT [dbo].[TBLSATISLAR] ([SATISID], [URUN], [MUSTERI], [ADET], [FIYAT]) VALUES (7, 7, 8, 50, CAST(25.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TBLSATISLAR] OFF
SET IDENTITY_INSERT [dbo].[TBLURUNLER] ON 

INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [URUNKATAGORI], [FİYAT], [MARKA], [STOK]) VALUES (7, N'CamasırSuyu', 1, CAST(15.54 AS Decimal(18, 2)), N'DOMESTOS', 250)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [URUNKATAGORI], [FİYAT], [MARKA], [STOK]) VALUES (8, N'Sabun', 4, CAST(6.75 AS Decimal(18, 2)), N'DURU', 200)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [URUNKATAGORI], [FİYAT], [MARKA], [STOK]) VALUES (9, N'DusJeli', 5, CAST(18.90 AS Decimal(18, 2)), N'CLEARMAN', 189)
SET IDENTITY_INSERT [dbo].[TBLURUNLER] OFF
ALTER TABLE [dbo].[TBLSATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATISLAR_TBLMUSTERILER] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBLMUSTERILER] ([MUSTERIID])
GO
ALTER TABLE [dbo].[TBLSATISLAR] CHECK CONSTRAINT [FK_TBLSATISLAR_TBLMUSTERILER]
GO
ALTER TABLE [dbo].[TBLSATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATISLAR_TBLURUNLER] FOREIGN KEY([URUN])
REFERENCES [dbo].[TBLURUNLER] ([URUNID])
GO
ALTER TABLE [dbo].[TBLSATISLAR] CHECK CONSTRAINT [FK_TBLSATISLAR_TBLURUNLER]
GO
ALTER TABLE [dbo].[TBLURUNLER]  WITH CHECK ADD  CONSTRAINT [FK_TBLURUNLER_TBLKATAGORILER] FOREIGN KEY([URUNKATAGORI])
REFERENCES [dbo].[TBLKATAGORILER] ([KATAGORIID])
GO
ALTER TABLE [dbo].[TBLURUNLER] CHECK CONSTRAINT [FK_TBLURUNLER_TBLKATAGORILER]
GO
USE [master]
GO
